{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/navbar.html' %}

<section class="section-content padding-y bg">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="{{product_details.image.url}}"><img src="{{ product_details.image.url }}"></a>
                        </div> <!-- img-big-wrap.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <form action="{% url 'cart:add_to_cart' product_details.slug %}" method="GET">
                        {% csrf_token %}
                        <article class="content-body">
                            <h2 class="title">{{ product_details.title | capfirst }}</h2>
                            <div class="mb-3">
                            <var class="price h4"><p>$ {{ product_details.price }}</p></var>
                            </div>

                            <p>{{product_details.details}}</p>
                           <!-- 
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if product_details.averageReview < 0.5 %}-o{% elif product_details.averageReview >= 0.5 and product_details.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product_details.averageReview < 1.5 %}-o{% elif product_details.averageReview >= 1.5 and product_details.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product_details.averageReview < 2.5 %}-o{% elif product_details.averageReview >= 2.5 and product_details.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product_details.averageReview < 3.5 %}-o{% elif product_details.averageReview >= 3.5 and product_details.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product_details.averageReview < 4.5 %}-o{% elif product_details.averageReview >= 4.5 and product_details.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <span>{% if product_details.countReview %} {% else %} 0 {% endif %} reviews</span>
                                </span>
                            </div>
                            <hr>
                            -->
                            {# product variations details #}
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Color</h6>
                                    <select name="color" class="form-control">
                                        {% for i in product_details.variation_set.color %}  {# color is function name in manager #}
                                        <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Select Size</h6>
                                    <select name="size" class="form-control">
                                        {% for i in product_details.variation_set.size %}
                                        <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6 id="quantity">Quantity</h6>
                                    <input type="number" id="number" for="quantity" class="form-control item-quantity" name="quantity" min="1" max="10000" value="1">
                                </div>
                            </div>
                            <hr>

                            {% if product_details.quantity < 1 %}
                                <label style="background-color: #fcc; border: 2px solid #888; border-radius: 2%; padding: 10px;" ><h5 class="text-danger">Out of Stock</h5></label>
                            {% else %}
                                <button type="submit" class="btn btn-primary"><span class="text"> Add to Cart</span> <i class="fas fa-shopping-cart"></i></button>
                            {% endif %}
                        </article> <!-- product-info-aside .// -->
                    </form>
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->
        <br>

        <!--
        {# Review #}
        <div class="row">
            <div class="col-md-9">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <h5>Write Your Review</h5>
                    <div>
                       
                        <label>How do you rate this product?</label>
                        <br>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                        </div>
                        <br>
                        Review Title:
                        <input type="text" class="form-control" name="subject">
                        <br>
                        Review:
                        <textarea name="review" rows="4" class="form-control"></textarea>
                        <br>
                        {% if user.is_authenticated %}
                        {% if orderproduct %}
                        <input type="submit" value="Submit Review" class="btn btn-primary">
                        {% else %}
                        <p>You must purchase this product to post a review.</p>
                        {% endif %}
                        {% else %}
                        <p>You must be logged in to post a review. <span><a href="#">Login now</a></span></p>
                        {% endif %}
                    </div>
                    
                </form>
                <br>
                <header class="section-heading">
                    <h3>Customer Reviews </h3>
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if product_details.averageReview < 0.5 %}-o{% elif product_details.averageReview >= 0.5 and product_details.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product_details.averageReview < 1.5 %}-o{% elif product_details.averageReview >= 1.5 and product_details.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product_details.averageReview < 2.5 %}-o{% elif product_details.averageReview >= 2.5 and product_details.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product_details.averageReview < 3.5 %}-o{% elif product_details.averageReview >= 3.5 and product_details.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product_details.averageReview < 4.5 %}-o{% elif product_details.averageReview >= 4.5 and product_details.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <span>{{product_details.countReview}} reviews</span>
                        </span>
                    </div>
                </header>
                {% for review in reviews %}
                <article class="box mb-3">
                    <div class="icontext w-100">
                        <div class="text">
                            <span class="date text-muted float-md-right">{{review.updated_at}} </span>
                            <h6 class="mb-1">{{review.user.full_name}} </h6>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6>{{review.subject}}</h6>
                        <p>
                            {{review.review}}
                        </p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
        -->
    </div> <!-- container .//  -->
{% include 'includes/footer.html' %}
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
