{% extends "base.html" %}
{% block content %}
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-6">
                <span class="px-2"><a  title="mail me" href="mailto:nkm.081420@gmail.com">nkm.081420@gmail.com</a></span>
                <span class="px-2">Street name 123, Avanue abc</span>
            </div>
            <div class="col-md-3">
                <p class="text-muted"><b> &copy {% now "Y" %} Nitish Kumar</b></p>
            </div>
            <div class="col-md-3 text-md-right text-muted">
                <i class="fab fa-lg fa-cc-visa" title="visa"></i>
                <i class="fab fa-lg fa-cc-paypal" title="paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard" title="mastercard"></i>
            </div>
        </section>
    </div><!-- //container -->
</footer>
{% endblock content %}
